.banner{
    background-color: #503a28;
}

.top-menu{
    background-color: darksalmon;
}

.foto-rosada{
    background-color: #c23482;
}

.foto-azul{
    background-color: darkcyan;
}

.left-menu{
    background-color:orange;
}